/* baseline ruleset for all text */
html {
    font-size: 10px; /* px = pixels, we have 10 pixel high base size*/
    font-family: 'Montserrat', sans-serif; /* font-family defines the base font we'll be using*/
    background-color: #ceede7;
}

h1 {
    margin: 0;
    padding: 20px 0;    
    color: #850487;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h6 {
    text-align: end;
    font-size: 8px;
}

img {
    display: block;
    margin: 20px auto;
    width: max-content;
}

li, p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

blockquote {
    font-size: 40px;
    line-height: 2;
    letter-spacing: 5px;
    text-align: center;
}

a {
    color: blue;
}

.new-page  {
    border: 2px black;
    margin: auto;
    background-color:coral;
    padding: 20px 20px 20px 20px;
    text-align: center;


}

/* body {
    width: 1000px;
    margin: 100px auto;
    background-color: #e5e0e0;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  } */