html {
    font-size: 10px; /* px = pixels, we have 10 pixel high base size*/
    font-family: 'monaco', sans-serif; /* font-family defines the base font we'll be using*/
    background-color: #ffffff;
}

h1 {
    margin: 10px 0px 0px 0px;
    padding: 20px 0;    
    color: #5c6163;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h6 {
    text-align: end;
    font-size: 8px;
}

img {
    display: block;
    max-width: 100%;
    width: max-content;
    border-radius: 8px;
    margin: 10px;
    
}

li, p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

blockquote {
    font-size: 40px;
    line-height: 2;
    letter-spacing: 5px;
    text-align: center;
}

a {
    color: blue;
}

.new-page  {
    border: 1px solid #5c6163 ;
    margin: 0px 0px 30px 0px;
    background-color:#5c6163;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: white; 
    width: 25%;
    float:left;
    font-family: monaco;
    align-content: center;
}

/*.new-page:hover {
    background-color: white; 
    color: #5c6163;
    border: 2px solid #5c6163;
}*/